[submodule "library"]
	path = library
	url = git@github.com:andreynovikov/androzic-library.git
[submodule "androzic"]
	path = androzic
	url = git@github.com:andreynovikov/androzic.git
[submodule "libraries/drag-sort-listview"]
	path = libraries/drag-sort-listview
	url = https://github.com/loeschg/drag-sort-listview.git
[submodule "libraries/android-support-v4-preferencefragment"]
	path = libraries/android-support-v4-preferencefragment
	url = https://github.com/kolavar/android-support-v4-preferencefragment.git
[submodule "plugins/locationshare"]
	path = plugins/locationshare
	url = git@github.com:andreynovikov/androzic-plugin-locationshare.git
[submodule "plugins/tracker"]
	path = plugins/tracker
	url = git@github.com:andreynovikov/androzic-plugin-tracker.git
